<script setup>
    import Container from '../components/Container.vue';
    import Profile from '../components/Profile.vue';
</script>

<template>
    <Container>
        <Profile :key="$route.params.username" />
    </Container>
</template>