<script setup>
    import { ref, reactive } from 'vue'
    import { useUserStore } from '../stores/userStore';
    import { storeToRefs } from 'pinia';

    const userStore = useUserStore();
    const { errorMessage, loading, user } = storeToRefs(userStore);

    const props = defineProps(['typeForm', 'title'])
    const visible = ref(false);

    const userCredentials = reactive({
        username: '',
        email: '',
        password: ''
    });

    const clearUserCredentialsInput = () => {
        userCredentials.username = '';
        userCredentials.email = '';
        userCredentials.password = '';
    }

    const showModal = () => {
        userStore.clearErrorMessage();
        visible.value = true;
    };

    const signUp = async () => {
        userStore.clearErrorMessage();
        await userStore.handleSignUp(userCredentials);
        if(user.value) {
            clearUserCredentialsInput();
            visible.value = false;
        }
    };

    const signIn = async () => {
        userStore.clearErrorMessage();
        await userStore.handleLogin(userCredentials);
        if(user.value) {
            clearUserCredentialsInput();
            visible.value = false;
        }
    }

    const handleCancel = () => {
        clearUserCredentialsInput();
        visible.value = false;
    }
    
</script>

<template>
    <div>
        {{ user }}
        <AButton type="primary" @click="showModal" class="mr-3">{{ props.title }}</AButton>
        <AModal v-model:visible="visible" :title="title">

            <template #footer>
                <a-button key="back" @click="handleCancel">Return</a-button>
                <a-button v-if="props.typeForm=='signup'" :disabled="loading" key="submit" type="primary" :loading="loading" @click="signUp">Sign Up</a-button>
                <a-button v-if="props.typeForm=='login'" :disabled="loading" key="submit" type="primary" :loading="loading" @click="signIn">Login</a-button>
            </template>

            <ASpace v-if="!loading" direction="vertical" style="width: 100%;">
                <AInput v-if="props.typeForm=='signup'" v-model:value="userCredentials.username" placeholder="Username" />
                <AInput v-model:value="userCredentials.email" placeholder="Email" />
                <AInput v-model:value="userCredentials.password" placeholder="Password" type="password" autocomplete="off" />
            </ASpace>
            <div v-else class="spinner">
                <ASpin />
            </div>

            <ATypographyText v-if="errorMessage" type="danger">{{ errorMessage }}</ATypographyText>
        </AModal>
    </div>
</template>

<style scoped>
    .spinner {
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>