<script setup>
    const props = defineProps(['post'])
</script>

<template>
    <ACard hoverable style="width: 240px; margin-bottom: 30px;">
        <template #cover>
            <img alt="example" :src="post.image" />
        </template>
        <ACardMeta :title="post.username">
            <template #description>{{ post.caption }}</template>
        </ACardMeta>
    </ACard>
</template>