<script setup>
    const props = defineProps(['posts'])
</script>

<template>
    <div class="image-gallery-container">
        <img
            v-for="post in posts" 
            :key="post.id"
            :src="`https://xrlzjlsxjvlphptuktqj.supabase.co/storage/v1/object/public/images/${post.image}`" 
            alt="Image"
        />
    </div>
</template>

<style scoped>
    .image-gallery-container {
        display: flex;
        justify-content: left;
        flex-wrap: wrap;
    }

    img {
        margin: 5px;
        width: 200px;
    }
</style>