<script setup>
    import { ref } from 'vue'
    import { RouterLink, useRouter } from 'vue-router'
    import { storeToRefs } from 'pinia';
    import Container from './Container.vue';
    import AuthModal from './AuthModal.vue';
    import { useUserStore } from '../stores/userStore';

    const router = useRouter();
    const userStore = useUserStore();
    const { user, loadingUser } = storeToRefs(userStore);

    const searchUsername = ref("");
    const onSearch = () => {
        if(searchUsername.value){
            router.push({path: `/profile/${searchUsername.value}`});
            searchUsername.value = '';
        }
    }

    const gotoUserProfile = () => {
        router.push(`/profile/${user.value.username}`);
    }

    const logout = async () => {
        await userStore.handleLogout();
    }

</script>

<template>
    <ALayout-header>
        <Container>
            <div class="nav-container">
                <div class="right-content">
                    <RouterLink to="/">Instagram</RouterLink>
                    <AInputSearch
                        v-model:value="searchUsername"
                        placeholder="Username ..."
                        style="width: 200px"
                        @search="onSearch"
                    />
                </div>
                <template v-if="!loadingUser">
                    <div class="left-content" v-if="!user">
                        <ASpace>
                            <AuthModal typeForm="signup" title="Sign Up"/>
                            <AuthModal typeForm="login" title="Login"/>
                        </ASpace>
                    </div>
                    <div class="left-content" v-else>
                        <ASpace>
                            <AButton type="primary" @click="gotoUserProfile">Profile</AButton>
                            <AButton type="primary" @click="logout">Logout</AButton>
                        </ASpace>
                    </div>
                </template>
                <template v-else class="right-content">
                    <ASpin />
                </template>
            </div>
        </Container>
    </ALayout-header>
</template>

<style scoped>
    .nav-container {
        display: flex;
        justify-content: space-between;
    }

    .right-content {
        display: flex;
        align-items: center;
    }

    .right-content a{
        margin-right: 10px;
    }

    .left-content{
        display: flex;    
        align-items: center;
    }
</style>