<script setup>
    import { ref, onMounted, watch } from 'vue';
    import { useRoute } from 'vue-router'
    import ImageGallery from './ImageGallery.vue';
    import UserBar from './UserBar.vue';
    import { supabase } from '../supabase';
    import { useUserStore } from '../stores/userStore';
    import { storeToRefs } from 'pinia';
    
    const userStore = useUserStore();
    const { user: loggedInUser } = storeToRefs(userStore);
    const route = useRoute();
    const { username } = route.params
    const posts = ref([]);
    const isFollowing = ref(false);
    const user = ref(null);
    const loading = ref(false)

    const addNewPost = (post) => {
        posts.value.unshift(post)
    }

    const updateIsFollowing = (follow) => {
        isFollowing.value = follow;
    }

    const fetchData = async () => {
        loading.value = true;
        const {data: userData} = await supabase
            .from("users_detail")
            .select()
            .eq("username", username)
            .single()

        if(!userData) {
            loading.value = false;
            return user.value = null;
        }
        
        if(userData) {
            user.value = userData;

            const {data: postData} = await supabase
                .from("posts")
                .select()
                .eq("user_id", user.value.id)

            posts.value = postData

            fetchIsFollowing();
        }

        loading.value = false;
    }

    const fetchIsFollowing = async () => {
        if(loggedInUser.value && (loggedInUser.value.id !== user.value.id)) {
            const {data} = await supabase
            .from("followers_following")
            .select()
            .eq("user_id", loggedInUser.value.id)
            .eq("user_following_id", user.value.id)
            .single();

            if(data) isFollowing.value = true;
        }
    }

    watch(loggedInUser, () => {
        fetchIsFollowing()
    })

    onMounted(() => {
        fetchData()
    })
</script>
<template>
    <div v-if="!loading" class="profile-container">
        <UserBar
            :key="$route.params.username"
            :user="user"
            :userInfo="{
                posts: 4,
                followers: 200,
                following: 172
            }"
            :addNewPost="addNewPost"
            :isFollowing="isFollowing"
            :updateIsFollowing="updateIsFollowing"
        />
        <ImageGallery 
            :posts="posts"
        />
    </div>
    <div v-else class="spinner">
        <ASpin />
    </div>
</template>

<style scoped>
  .profile-container {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
  }

  .spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
</style>