<script setup>
    import Container from './Container.vue';
    import Card from './Card.vue';

    const data = [
        {
            id: 1,
            username: 'luffy',
            image: 'https://cdn0-production-images-kly.akamaized.net/6h1UBkJTq-aBOqHtgjPfvInSsvc=/1200x900/smart/filters:quality(75):strip_icc():format(jpeg)/kly-media-production/medias/2879389/original/097927800_1565594145-preview-one-piece-episode-897-0-700x394.jpg',
            caption: 'luffytaro in action'
        },
        {
            id: 2,
            username: 'shank',
            image: 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCEEZmmUhpgf-etUmHG1Sm0hNcP_nP1B2iAQ&usqp=CAU',
            caption: 'I\'m at marinford'
        }
    ]
</script>

<template>
    <Container>
        <div class="timeline-container">
            <Card v-for="post in data" :key="post.id" :post="post" />
        </div>
    </Container>
</template>

<style scoped>
  .timeline-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
  }
</style>