<script setup>
    import { ref } from 'vue';
    import { storeToRefs } from 'pinia';
    import { supabase } from '../supabase';
    import { useUserStore } from '../stores/userStore'; 

    const props = defineProps(['addNewPost']);
    const userStore = useUserStore();
    const { user } = storeToRefs(userStore);
    
    const loading = ref(false);
    const errorMessage = ref("");
    const visible = ref(false);
    const caption = ref("");
    const file = ref(null);

    const showModal = () => {
        visible.value = true;
    };

    const handlePost = async () => {
        loading.value = true;
        
        const fileName = Math.floor(Math.random() * 100000000)
        if(file.value) {
            const {data, error} = await supabase.storage.from("images").upload('public/'+fileName, file.value);
            
            if(error) {
                loading.value = false;
                errorMessage.value = error;
            }
            
            if(data) {
                await supabase.from("posts").insert({
                    image: data.path,
                    caption: caption.value,
                    user_id: user.value.id
                });
            }

            props.addNewPost({
                image: data.path,
                caption: caption.value,
            })
            
            loading.value = false;
            visible.value = false;
            caption.value = "";
            
        }
        
        loading.value = false;
        visible.value = false;
    };

    const handleUploadChange = (e) => {
        if(e.target.files[0]) {
            file.value = e.target.files[0]
        }
    }
</script>

<template>
    <div>
        <AButton @click="showModal">Upload Photo</AButton>
        <AModal v-model:visible="visible" title="Basic Modal">
            <template #footer>
                <AButton :disabled="loading" key="submit" type="primary" @click="handlePost">Post</AButton>
            </template>

            <div v-if="!loading">
                <input type="file" accept=".jpg,.png" @change="handleUploadChange" />
                <AInput 
                    placeholder="Caption..." 
                    v-model:value="caption" 
                    :maxlength="50"
                    autocomplete="false"
                />
            </div>
            <div v-else class="spinner">
                <ASpin />
            </div>
        </AModal>
    </div>
</template>

<style scoped>
    input {
        margin-bottom: 10px;
    }

    .spinner {
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>