<script setup>
    import { useRoute } from 'vue-router';
    import { storeToRefs } from 'pinia';
    import { useUserStore } from '../stores/userStore';
    import UploadPhotoModal from './UploadPhotoModal.vue';
    import { supabase } from '../supabase';

    const props = defineProps(['user', 'userInfo', 'addNewPost', 'isFollowing', 'updateIsFollowing'])
    const route = useRoute();
    const userStore = useUserStore();
    const { username: userNameProfile } = route.params;
    const { user } = storeToRefs(userStore);

    const followUser = async () => {
        const {data} = await supabase
            .from("followers_following")
            .insert({
                user_id: user.value.id,
                user_following_id: props.user.id
            })

        props.updateIsFollowing(true);
    }

    const unFollowUser = async () => {
        const {data} = await supabase
            .from("followers_following")
            .delete()
            .eq("user_id", user.value.id)
            .eq("user_following_id", props.user.id)
        
        props.updateIsFollowing(false);
    }
</script>

<template>
    <div v-if="user" class="userbar-container">
        <div class="top-content">
            <ATypographyTitle :level="2">{{ userNameProfile }}</ATypographyTitle>
            <div v-if="user">
                <template v-if="userNameProfile === user.username">
                    <UploadPhotoModal :addNewPost="addNewPost" />
                </template>
                <template v-else>
                    <AButton v-if="!props.isFollowing" @click="followUser">Follow</AButton>
                    <AButton v-else @click="unFollowUser">Following</AButton>
                </template>
            </div>
        </div>
        <div class="bottom-content">
            <ATypographyTitle :level="5">{{ props.userInfo.posts }} Posts</ATypographyTitle>
            <ATypographyTitle :level="5">{{ props.userInfo.followers }} Followers</ATypographyTitle>
            <ATypographyTitle :level="5">{{ props.userInfo.following }} Following</ATypographyTitle>
        </div>
    </div>
    <div v-else class="userbar-container">
        <div class="top-content">
            <ATypographyTitle :level="2">User not found</ATypographyTitle>
        </div>
    </div>
</template>

<style scoped>
    .userbar-container {
        padding-bottom: 75px;
    }

    .bottom-content {
        display: flex;
        align-items: center;
    }

    .bottom-content h5 {
        margin: 0 !important;
        margin-right: 30px !important;
        padding: 0;
    }

    .top-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
</style>