<script setup>
  import {onMounted} from 'vue'
  import { RouterView } from 'vue-router';
  import Navbar from './components/Navbar.vue';
  import {useUserStore} from './stores/userStore.js';

  const userStore = useUserStore();

  onMounted(() => {
    userStore.getUser()
  })
</script>

<template>
  <main>
    <Navbar />
    <RouterView />
  </main>
</template>

<style scoped>

</style>
